*.pdf
*.bak
*.err
*.log
*.txt
RD/
dwg RD/
naryadi/
dwg/
other/
primer/
*.dwl
*.dwl2
!PDF/**.dwl2
*.rar
*\~\$*
*.jpg
*.lnk
example
*.exe , png, 
//#добавить фаил гитигнор и дополнительные файлы
//#делать приватные репы.

! преампула работает